---
layout: base.njk
---

<h1><img src="/assets/icon.png" alt="Microsite shape icon">microsite</h1>
<h2>Edit the <code>index.njk</code> file and get going!</h2>
<a href="https://github.com/voightco/micro-site">View the source on GitHub</a>